<h2 class="ctitle shift-right"><span class="fa fa-users"></span> All Users</h2>
<div class="col-sm-8">
	<input type="text" class="form-control pull right " placeholder="Search User ....">
</div>

<div style="clear: both;"></div>
<div ng-if="userCtrl.confirm" class="alert alert-success ajax-loader col-md-4"><b>Request Sent</b><a ng-click="userCtrl.confirm = false" class="pull right">X</a></div>
<ul class="collection inner-content col-md-8 col-sm-10 col-xs-12">
	<li class="collection-item-avatar" ng-repeat="user in userCtrl.users">
		<img src="./.././assets/images/1.jpg" alt="" class="card-image circle">
		<span class="name">{{user.name}}</span>
		<p ng-if="user.status == 'A'"><img src="./.././assets/images/online.png" > <span> Online</span> 
		</p>
		<p ng-if="user.status == 'N'">
			<img src="./.././assets/images/offline.png"><span> Offline </span><span class="pull right"></span></p>
			<button class="btn btn-primary pull right" ng-if="client" ng-click="userCtrl.sendFriendRequest(user.userId)">Send Request</button>
			<p>{{user.userStatus}}</p>
		</li>
	</ul>