<div class="container-fluid">
	<h1 class="ctitle"><span class="fa fa-calendar-o"></span> Events <span class="pull right">  Found</span></h1>
	<hr>
	<div class="inner-content col-xs-12">
		<form action="">
		<div class="col-sm-5">
				<input type="date" class="datepicker" placeholder="Select event date">
				<script>
					$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 16 // Creates a dropdown of 15 years to control year
});
</script> 
</div>
<div class="col-sm-5 col-sm-offset-1">
	<input type="time" placeholder="Select event time">
</div>
</div>
<div style="clear:both"></div>
</form> 
<div class="row">
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 inner-content">
		<div class="panel">
			<div class="panel-heading">Event Heading </div>
			<div class="panel-body">this is panel body</div>
		</div>
	</div>
</div>
</div>