
<nav class="navbar navbar-default menubar navbar-fixed-top" >
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span> 
		</button>
		<a  class="navbar-brand logo" href="#/" >BeOne
		</a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav">

			<li><a href="#blog/" ><span class="fa fa-codepen"></span> Blog</a></li>
			<li><a href="#forum/"><span class="glyphicon glyphicon-comment"></span> Forum</a></li>

		</ul>

		<ul class="nav navbar-nav navbar-right" data-hover="dropdown"
		data-animations="jello fadeInRight fadeInUp fadeInLeft">
		<li class="dropdown" ng-if="client"><a href= class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> User</a>
			<ul class="dropdown-menu dropdownhover-bottom" role="menu">
				<li><a href="#/blog/addBlog/">Add Blog</a></li>
			</ul>

		</li>
		
		
			<li><a href="#/login" ng-if="!client"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			<li ng-controller="loginController as Ctrl" ng-click="Ctrl.logout()" ng-if="client"><a href=""><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		
		<li><a href="#/event/"><span class="fa fa-calendar-o"></span> Events </a></li>
		<li><a href="#"><span class="fa fa-newspaper-o"></span> News</a></li>
		<li style="margin-right:10px"><a href="#"><span class="glyphicon glyphicon-tower"></span> Jobs</a></li>
	</ul>

</div>
</nav>

		<!-- Navbar ends here -->