<div class="container-fluid ">
	<br>

	<div class="inner-content col-md-4">
		<form action="">
			<h2 class="ctitle">Login</h2> 
			<br>

			<div class="input-field">
				<input type="text" id="login-username">
				<label for="login-username">Username</label>
			</div>
			<div class="input-field">
				<input type="text" id="login-password">
				<label for="login-password">Password</label>
			</div>
			<br>
			<input type="submit" value="Login" class="btn btn-primary waves-effect waves-dark">
		</form>
	</div>
	<div class="inner-content col-md-offset-2 col-md-6">
		<form action="">
			<h2 class="ctitle">Sign Up</h2>
			<br>
			<div class="input-field">
				<input type="text" id="register-username">
				<label for="register-username">Username</label>
			</div>
			<br>

			<fieldset><legend>Role</legend>
				<input class="with-gap" name="role" type="radio" id="student-radio"  />
				<label for="student-radio">Student</label>

				<input class="with-gap" name="role" type="radio" id="alumni-radio"  />
				<label for="alumni-radio">Alumni</label>

				<input class="with-gap" name="role" type="radio" id="employee-radio"  />
				<label for="employee-radio">Employee</label>
			</fieldset>

			<br>

			<fieldset><legend>Gender</legend>
				<input class="with-gap" name="gender" type="radio" id="gender-male"  />
				<label for="gender-male">Male</label>

				<input class="with-gap" name="gender" type="radio" id="gender-female"  />
				<label for="gender-female">Female</label>
			</fieldset>
			
			<div class="input-field">
				<input type="text" id="register-password">
				<label for="register-password">Password</label>
			</div>
			<div class="input-field">
				<input type="text" id="register-confirm-password">
				<label for="register-confirm-password">Confirm Password</label>
			</div>
			<input type="submit" value="Sign Up" class="btn btn-success">
		</form>
	</div>
</div>